.conteiner {
  display: flex;
  width: 100%;
  background-color: aqua;
  height: 100vh;
  justify-content: center;
  .content {
    display: flex;
    width: 95%;
    background-color: aquamarine;
    flex-direction: column;
    gap: 40px;
    .mapPin {
      width: 30px;
      height: 30px;
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }
}
